// ************************************************** AHK Specific Variables 
$break-mobile: 480px; 
$break-tablet: 768px;
$break-desktop: 960px;

$main-container-width: 960px;


// ************************************************** Wizardry overwrites 

$mobile-first:          false;
$gutter:                24px;
$use-markup-fix:        true!default;

$breakpoints: (
    'mobile' '(max-width: #{$break-tablet - 1})',
    //'lap' '(min-width: 481px) and (max-width: 1023px)',
    //'portable' '(max-width: 1023px)',
    'desktop' '(min-width: #{$break-desktop + 1})'
);

$main-logo-height: 81px;