.quick-search{
   @include respond-to(mobile) {
       position:absolute;
       top: 8px;
       left:0;
       right: 74px; // width of the toggle button
       height: 34px;
   }
  .btn {
      width: 40px;
       @include respond-to(mobile) {
           position:absolute;
           top: 0;
           bottom:0;
           right: 0; // width of the toggle button
       }          
  }
}